<!-- devise/shared/error_messages.html.erb -->
<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-4">
    <h2 class="text-red-500 font-bold">Errors:</h2>
    <ul class="list-disc ml-6">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        
      <% end %>
    </ul>
  </div>
<% end %>
