<div class="container mt-24 px-24">
<h6 class="block mb-5 text-5xl">
  <%= @message%>
</h6>
<%= link_to 'Upload', new_post_path, class: "bg-black hover:bg-gray-500 text-white  py-2 px-4 rounded inline-flex items-center " %>
<br>
<br>
<% if current_user %>
  <div id="posts" class="">
    <%= render @posts %>
  </div>
<% end %>
</div>