
<div class="container mt-24 px-24">
    <h2 class="text-2xl font-bold mb-4">Our Terms of Use</h2>

    <p class="mb-2">Version 1.0</p>

    <p class="mb-2">The Clipsink website located at <a href="https://clipsink.com" class="text-blue-500">https://clipsink.com</a> is a copyrighted work belonging to Clipsink. Certain features of the Site may be subject to additional guidelines, terms, or rules, which will be posted on the Site in connection with such features.</p>

    <p class="mb-2">All such additional terms, guidelines, and rules are incorporated by reference into these Terms.</p>


    <h2 class="text-2xl font-bold mb-4">Access to the Site</h2>

    <p class="mb-2"><strong>Subject to these Terms.</strong> Clipsink grants you a non-transferable, non-exclusive, revocable, limited license to access the Site solely for your own personal, noncommercial use.</p>

    <p class="mb-2"><strong>Certain Restrictions.</strong> The rights approved to you in these Terms are subject to the following restrictions: (a) you shall not sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Site; (b) you shall not change, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Site; (c) you shall not access the Site in order to build a similar or competitive website; and (d) except as expressly stated herein, no part of the Site may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means unless otherwise indicated, any future release, update, or other addition to functionality of the Site shall be subject to these Terms. All copyright and other proprietary notices on the Site must be retained on all copies thereof.</p>

    <p class="mb-4">Clipsink reserves the right to change, suspend, or cease the Site with or without notice to you. You approved that Clipsink will not be held liable to you or any third-party for any change, interruption, or termination of the Site or any part.</p>

    <p class="mb-2"><strong>No Support or Maintenance.</strong> You agree that Clipsink will have no obligation to provide you with any support in connection with the Site.</p>

    <p class="mb-4">Excluding any User Content that you may provide, you are aware that all the intellectual property rights, including copyrights, patents, trademarks, and trade secrets, in the Site and its content are owned by Clipsink or Clipsink's suppliers. Note that these Terms and access to the Site do not give you any rights, title or interest in or to any intellectual property rights, except for the limited access rights expressed in Section 2.1. Clipsink and its suppliers reserve all rights not granted in these Terms.</p>

    <h2 class="text-2xl font-bold mb-4">User Content</h2>

    <p class="mb-2"><strong>User Content.</strong> "User Content" means any and all information and content that a user submits to the Site. You are exclusively responsible for your User Content. You bear all risks associated with use of your User Content. You hereby certify that your User Content does not violate our Acceptable Use Policy. You may not represent or imply to others that your User Content is in any way provided, sponsored or endorsed by Clipsink. Because you alone are responsible for your User Content, you may expose yourself to liability. Clipsink is not obliged to backup any User Content that you post; also, your User Content may be deleted at any time without prior notice to you. You are solely responsible for making your own backup copies of your User Content if you desire.</p>

    <p class="mb-2">You hereby grant to Clipsink an irreversible, nonexclusive, royalty-free and fully paid, worldwide license to reproduce, distribute, publicly display and perform, prepare derivative works of, incorporate into other works, and otherwise use and exploit your User Content, and to grant sublicenses of the foregoing rights, solely for the purposes of including your User Content in the Site. You hereby irreversibly waive any claims and assertions of moral rights or attribution with respect to your User Content.</p>

    <p class="mb-2"><strong>Acceptable Use Policy.</strong> The following terms constitute our "Acceptable Use Policy":
    You agree not to use the Site to collect, upload, transmit, display, or distribute any User Content (i) that violates any third-party right or any intellectual property or proprietary right; (ii) that is unlawful, harassing, abusive, tortious, threatening, harmful, invasive of another's privacy, vulgar, defamatory, false, intentionally misleading, trade libelous, pornographic, obscene, patently offensive, promotes racism, bigotry, hatred, or physical harm of any kind against any group or individual; (iii) that is harmful to minors in any way; or (iv) that is in violation of any law, regulation, or obligations or restrictions imposed by any third party.</p>

    <p class="mb-2">In addition, you agree not to: (i) upload, transmit, or distribute to or through the Site any software intended to damage or alter a computer system or data; (ii) send through the Site unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of duplicative or unsolicited messages; (iii) use the Site to harvest, collect, gather or assemble information or data regarding other users without their consent; (iv) interfere with, disrupt, or create an undue burden on servers or networks connected to the Site, or violate the regulations, policies or procedures of such networks; (v) attempt to gain unauthorized access to the Site, whether through password mining or any other means; (vi) harass or interfere with any other user's use and enjoyment of the Site; or (vi) use software or automated agents or scripts to produce multiple accounts on the Site, or to generate automated searches, requests, or queries to the Site.</p>

    <p class="mb-4">We reserve the right to review any User Content, and to investigate and/or take appropriate action against you in our sole discretion if you violate the Acceptable Use Policy or any other provision of these Terms or otherwise create liability for us or any other person. Such action may include removing or modifying your User Content, terminating your Account in accordance with Section 8, and/or reporting you to law enforcement authorities.</p>

    <p class="mb-2"><strong>Feedback.</strong> If you provide Clipsink with any feedback or suggestions regarding the Site, you hereby assign to Clipsink all rights in such Feedback and agree that Clipsink shall have the right to use and fully exploit such Feedback and related information in any manner it believes appropriate. Clipsink will treat any Feedback you provide to Clipsink as non-confidential and non-proprietary.</p>

    <h2 class="text-2xl font-bold mb-4">Third-Party Links & Ads; Other Users</h2>

    <p class="mb-2"><strong>Third-Party Links & Ads.</strong> The Site may contain links to third-party websites and services, and/or display advertisements for third parties (collectively, "Third-Party Links & Ads"). Such Third-Party Links & Ads are not under the control of Clipsink, and Clipsink is not responsible for any Third-Party Links & Ads. Clipsink provides access to these Third-Party Links & Ads only as a convenience to you, and does not review, approve, monitor, endorse, warrant, or make any representations with respect to Third-Party Links & Ads. You use all Third-Party Links & Ads at your own risk, and should apply a suitable level of caution and discretion in doing so. When you click on any of the Third-Party Links & Ads, the applicable third party's terms and policies apply, including the third party's privacy and data gathering practices.</p>

    <p class="mb-4">Other users of the Site may provide links to other websites or resources. Clipsink has no control over such sites and resources and Clipsink is not responsible for and does not endorse such sites and resources. You further acknowledge and agree that Clipsink shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, goods or services available on or through any such site or resource. If you decide to enable, access or use third-party services, be advised that your access and use of such other services are governed solely by the terms and conditions of such other services, and Clipsink does not endorse, is not responsible or liable for, and makes no representations as to any aspect of such other services, including, without limitation, their content or the manner in which they handle data (including your data) or any interaction between you and the provider of such other services. You irrevocably waive any claim against Clipsink with respect to such other services. Clipsink is not liable for any damage or loss caused or alleged to be caused by or in connection with your enablement, access or use of any such other services, or your reliance on the privacy practices, data security processes or other policies of such other services.</p>

    <p class="mb-2"><strong>Release</strong> All Users of our Site may be subject to certain third-party terms of use and privacy policies, which are not under our control (collectively, "Third-Party Terms").</p>

    <p class="mb-2">By using the Site, you hereby represent and warrant that you have read, understood, and agree to be bound by all Third-Party Terms. Use of the Site is not authorized if you do not agree to Third-Party Terms.</p>

    <p class="mb-2">By using the Site, you hereby release and forever discharge Clipsink (and our officers, employees, agents, successors, and assigns) from, and hereby waive and relinquish, each and every past, present and future dispute, claim, controversy, demand, right, obligation, liability, action and cause of action of every kind and nature (including personal injuries, death, and property damage), that has arisen or arises directly or indirectly out of, or that relates directly or indirectly to, the Site (including any interactions with, or act or omission of, other Site users or any Third-Party Links & Ads). IF YOU ARE A CALIFORNIA RESIDENT, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 IN CONNECTION WITH THE FOREGOING, WHICH STATES: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS THAT THE CREDITOR OR RELEASING PARTY DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR OR RELEASED PARTY."</p>

    <h2 class="text-2xl font-bold mb-4">Disclaimers</h2>

    <p class="mb-2">The site is provided on an "as-is" and "as available" basis, and Clipsink and our suppliers expressly disclaim any and all warranties and conditions of any kind, whether express, implied, or statutory, including all warranties or conditions of merchantability, fitness for a particular purpose, title, quiet enjoyment, accuracy, or non-infringement. We and our suppliers make not guarantee that the site will meet your requirements, will be available on an uninterrupted, timely, secure, or error-free basis, or will be accurate, reliable, free of viruses or other harmful code, complete, legal, or safe. If applicable law requires any warranties with respect to the site, all such warranties are limited in duration to ninety (90) days from the date of first use.</p>

    <p class="mb-4">Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you. Some jurisdictions do not allow limitations on how long an implied warranty lasts, so the above limitation may not apply to you.</p>

    <h2 class="text-2xl font-bold mb-4">Limitation on Liability</h2>

    <p class="mb-2">To the fullest extent permitted by applicable law, in no event shall Clipsink or our suppliers be liable to you or any third party for any lost profits, lost data, costs of procurement of substitute products, or any indirect, consequential, exemplary, incidental, special or punitive damages arising from or relating to these terms or your use of, or incapability to use the site even if Clipsink has been advised of the possibility of such damages.</p>

    <p class="mb-4">Access to and use of the site is at your own discretion and risk, and you will be solely responsible for any damage to your device or computer system, or loss of data resulting therefrom.</p>

    <h2 class="text-2xl font-bold mb-4">Changes to Terms</h2>

    <p class="mb-4">Clipsink reserves the right to change, modify, or remove the contents of the Terms at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. Any changes or modifications to these Terms of Use will be effective upon posting of the revised terms on the Site. If you continue to use our Site after we have posted the revised Terms, you are agreeing to the new Terms. If you do not agree to the revised Terms, you should stop using our Site immediately.</p>

    <h2 class="text-2xl font-bold mb-4">Contact Information</h2>

    <p class="mb-4">The Site is offered by Clipsink. You may contact us by emailing us at Email: povaipad@gmail.com.</p>

    <p class="mb-4">This Terms of Use was last updated on 19/09/23.</p>
</strong>



